doctype html
html(lang="en")
    head
        title="url-kamkar"
    body
        div.container
            div.row
                h1 url-kamkar
            div.row
                form(action="/", method="POST")
                    input(type="url", name="url")
                    input(type="submit", value="Submit")
