doctype html
html(lang="en")
    head
        title=url-shortner
    body
        div.container
            div.row
                h1 url-shortner
                p
                    | Your shortened URL is 
                    a(href=base_url+'/'+id) #{base_url}/#{id}
